<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Lunar Rover Limited</title>
<meta name="description" content="Lunar Rover Limited">
<link rel="icon" href="./img/favicon.png" sizes="32x32" type="image/png">
<link rel="stylesheet" href="./css/animate.min.css">
<!-- bootstrap.min.css -->
<link rel="stylesheet" href="./css/bootstrap.min.css">
<!-- font-awesome -->
<link rel="stylesheet" href="./css/font-awesome-4.7.0/css/font-awesome.min.css">

<!-- AOS -->
<!-- <link rel="stylesheet" href="./css/aos.css"> -->

<!-- custom.css -->
<!-- <link rel="stylesheet" href="./css/custom.css"> -->
<link rel="stylesheet" href="./css/style.css">
